@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
      font-family: "CAMODIRT-Regular";
      src: url("/fonts/FontsFree-Net-camo-dirt.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
    
/* Scrollbar styling */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f7fff2; /* Light gray background */
    border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: #888; /* Dark gray thumb */
    border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Slightly darker gray on hover */
}
